#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

#tablet {
    position: absolute;
    width: 700px;
    bottom: 20px;
    right: 20px;
    cursor: default;
    border: 2px solid black;
    border-radius: 3px;
}

#debug {
    background: #adb6c4;
}