## START ESX ADD ##
set es_enableCustomData 1
set mysql_connection_string "server=localhost;uid=fivem;password=XXXXXXXXXX;database=essentialmode"
## END ESX ADD ##

# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These are the core FiveM resources
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
start baseevents

## START ESX ADD ##
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

start mysql-async
start essentialmode
start esplugin_mysql
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start NativeUI

start esx_addonaccount
start esx_addoninventory
start esx_rpchat
start skinchanger
start esx_skin
start instance
start esx_status
start esx_atm
start esx_basicneeds
start esx_billing
start esx_society
start esx_service
start esx_datastore
start esx_license
start esx_identity
start esx_vehicleshop
start esx_jobs
start esx_joblisting
start esx_policejob
start esx_taxijob
start esx_ambulancejob
start esx_holdup
start esx_bankerjob
start esx_shops
start esx_weaponshop
start esx_drugs
start esx_phone
start esx_dmvschool
start esx_clotheshop
start esx_voice
start esx_barbershop
start esx_accessories
start esx_boat
start airports
start esx_property
start shield
start slashtires
start esx_blackjob
start esx_rubicon

## END ESX ADD ##

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password XXXXXXXXXX

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "Rubicon Roleplay | $50K STARTING CASH | ANYONE CAN BE COP | CUSTOM CHAT | POWERFUL HARDWARE | BEST PERFORMANCE"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey XXXXXXXXXX

restart sessionmanager